h4 {
  font-family: "Roboto";
  font-size: 1.2vmax;
  padding-bottom: 0.5vmax;
}

footer {
  margin-top: 10vmax;
  padding: 5vmax;
  background-color: #707070;
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.topFooter, .bottomFooter{
  display:flex;
  flex-direction: row;
}

.topFooter{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 3vmax;
}

.bottomFooter{
  padding: 2vmax;  
  width: 80%;
  justify-content: space-between;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.leftFooter > p, .bottomFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.leftFooter > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.5vmax 0;
}

.rightFooter, .midFooter {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.rightFooter > a, .midFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0.5vmax 0;
}

.ig, .fb, .twitter{
  color: white;
}
