/* .para {
  margin: 10vmax;
  font: 400 1.4vmax Roboto Slab;
  color: #333333;
  line-height: 1.5;
  text-align: justify;
}

.para h1 {
  font: 800 2vmax Roboto Slab;
  margin-bottom: 0.2vmax;
  color: #800039;
}

.para hr {
  border: none;
  height: 0.45vmax;
  background-color: #303030;
  margin-bottom: 2vmax;
  width: 4.5vmax;
} */
