.profileContainer {
  display: flex;
  height: 125vh;
  max-width: 100%;
  width: 100vw;
  padding: 6vmax 8vmax;
  /* position: fixed; */
  top: 0%;
  left: 0%;
  background-color: #ebebeb;
}

.profileContainer > div {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.profileContainer > div:first-child > h1 {
  color: white;
  font: 500 2.2vmax "Roboto Slab";
  /* text-align: center; */
  padding: 0.5vmax;
  box-sizing: border-box;
  background-color: #800039;
  transform: translateX(-12vmax) translateY(-4vmax);
}

.profileContainer > div:first-child > img {
  width: 20vmax;
  border-radius: 100%;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: rgb(128, 0, 57);
  font: 400 1vmax "Roboto Slab";
  color: white;
  text-decoration: none;
  padding: 1vmax;
  width: 30%;
  margin: 5vmax;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: #800039;
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.profileContainer > div:last-child > div > h4 {
  color: #800039;
  font: bold 1.2vmax "Roboto Slab";
}

.profileContainer > div:last-child > div > p {
  color: #303030;
  font: 400 1vmax;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgb(68, 68, 68);
  font: 400 1vmax "Roboto Slab";
  color: white;
  text-decoration: none;
  padding: 1vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax "Roboto Slab";
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Roboto Slab";
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Roboto Slab";
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax "Roboto Slab";
    padding: 1vmax;
    margin: 2vmax 0;
  }
}
