.para {
  margin: 5vmax 15vmax;
  font: 400 1.4vmax Roboto Slab;
  color: #333333;
  line-height: 1.5;
  text-align: justify;
}

.para h1 {
  font: 800 2vmax Roboto Slab;
  margin-bottom: 0.2vmax;
  color: #800039;
}

.para hr {
  border: none;
  height: 0.45vmax;
  background-color: #303030;
  margin-bottom: 5vmax;
  width: 4.5vmax;
}

.para p {
  margin-bottom: 5vmax;
  color: #707070;
}

.para h3 {
  color: #303030;
  /* font: 600 1.4vmax Roboto; */
  margin-bottom: 2vmax;
}

.para h4 {
  color: #707070;
  font-family: Arial, sans-serif;
  font-size: 1.4vmax;
  font-weight: 600;
  margin-bottom: 2vmax;
}

@media screen and (max-width: 600px) {
  .para {
    margin: 5vmax 5vmax;
  }
}
